<div class="discover-categories">
    <div class="col-12 d-flex justify-content-center">
        <div class="col-lg-6">
            <form [formGroup]="recipeForm" class="my-5" (ngSubmit)="onSubmitForm()">

                <h3 class="mb-5">Créer une recette</h3>
                <div class="form-group">
                    <label for="title">Titre</label>
                    <input type="text" id="title" class="form-control" formControlName="title">
                </div>
                <div class="form-group">
                    <label for="drinkPreference">Description</label>
                    <textarea id="description" rows="3" class="form-control" formControlName="description"></textarea>

                </div>

                <div class="form-group">
                    <label for="drinkPreference">Image (Url)</label>
                    <input type="url" id="image" rows="3" class="form-control" formControlName="image" />
                    <small class="d-block mt-2"><a target="_blank" href="https://unsplash.com/images/food"><i
                  class="fas fa-external-link-square-alt"></i> API libre de droits pour tester des images</a></small>
                </div>

                <div class="form-group">
                    <label for="level">Niveau de difficulté</label>
                    <select class="form-control" formControlName="level">
              <option value="" disabled>Choisir un niveau de difficulté</option>
              <option value="Débutant">Débutant</option>
              <option value="Intermédiaire">Intermédiaire</option>
              <option value="Avancé">Avancé</option>
            </select>
                </div>
                <div class="row justify-content-between align-items-center">
                    <div class="form-group col-6">
                        <label for="drinkPreference">Temps de préparation</label>
                        <input type="time" class="form-control cursor-pointer" min="00:00" max="03" formControlName="preparation_time" />
                    </div>

                    <div class="form-group col-6">
                        <label for="drinkPreference">Temps de cuisson</label>
                        <input type="time" class="form-control cursor-pointer" min="00:00" max="03:00" formControlName="baking_time">
                    </div>
                </div>

                <div class="my-4 row align-items-center justify-content-between">
                    <div class="col-6 form-group" formArrayName="ingredients">
                        <h3 class="mb-3">Liste des ingrédients</h3>
                        <div class="form-group" *ngFor="let ingredientControl of getIngredients().controls; let i = index">
                            <input type="text" class="form-control" [formControlName]="i">
                        </div>
                        <button type="button" class="btn btn-success" (click)="onAddIngredient()">Ajouter un ingrédient</button>
                    </div>

                    <div class="col-6 form-group" formArrayName="steps">
                        <h3 class="mb-3 text-right">Etapes</h3>
                        <div class="form-group" *ngFor="let stepControl of getSteps().controls; let i = index">
                            <input type="text" class="form-control" [formControlName]="i">
                        </div>
                        <button type="button" class="d-block ml-auto btn btn-success" (click)="onAddStep()">Ajouter une
                étape</button>
                    </div>
                </div>

                <button type="submit" class="mx-auto d-block btn btn-lg btn-dark" [disabled]="recipeForm.invalid">Envoyer</button>
            </form>
        </div>
    </div>
</div>