<section class="best-receipe-area">
    <div class="row" *ngIf="recipes">
        <div class="col-12">
            <div class="my-4 text-center">
                <h3>Liste des recettes</h3>
            </div>
        </div>
    </div>
    <div class="row justify-content-center align-items-center" *ngIf="recipes">
        <recipe class="white-box px-0 m-3 col-xs-12 col-sm-4 col-lg-2 col-xl-2" *ngFor='let recipe of recipes' [recipeId]="recipe.id" [recipeTitle]="recipe.title" [recipeDescription]="recipe.description" [recipeRating]="recipe.rating" [recipeImage]="recipe.image">
        </recipe>
    </div>
</section>
<div class="loading" *ngIf="!recipes">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<button class="btn btn-success" (click)="getRecipes()">Récupérer</button>

<!--<p>list-recipe works!</p>
<h1>{{currentCar}}</h1> 
<div class="content" *ngIf="allowed">
    <h1>a</h1>
    <h1>b</h1>
    <h1>c</h1>
    <h1>d</h1>
</div>

<ul class="content-array" *ngFor="let car of cars" [ngClass]="allowed ? 'yooo':'rrr'" [style.background-color]="'lightseagreen'">
    <li>{{car | uppercase}}</li>
</ul>

<button [hidden]="!allowed" (click)="activate(5)" class="btn btn-sucess" style="color: #ffffff; background-color: cadetblue;">STATUS</button>

<input type="text" class="form-control" [(ngModel)]="currentCar"> -->